html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* Applied background color here to cover the entire page */
}


.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px; /* Ensure that it matches the 'top' value of the .container class */
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo-and-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between logo and nav items */
}

.logo img {
    height: 20px;
}

.logo h2 {
    font-size: 15px;
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    padding: 4px 15px;
    font-size: 15px; /*  font size  */
    margin-right: 10px; /*  spacing between nav items */
}

/* ... */

.auth {
    display: flex;
    align-items: center;
}

.auth .auth-item {
    text-decoration: none;
    color: #333;
    padding: 4px 15px;
    margin-left: 10px;
}

#blue {
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 6px 12px;
}

.container {
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 60px; /* Starts the container right at the bottom of the header */
    left: 0;
    width: 200px; 
    bottom: 0;
    overflow-y: auto; /* Allows scrolling within the container if content overflows */
}

/* Styles for navigation items in the sidebar */
.container .nav-link {
    display: block; /* Makes each link full-width of the sidebar */
    text-decoration: none;
    color: #333;
    padding: 10px 0; /* Vertical padding for each link */
    margin-bottom: 2px; /* Spacing between links */
}

/* Main content area styles */
.main-content {
    margin-left: 250px; 
    margin-top: 80px;
    padding-top: 60px; 
    padding: 20px; 
}

.monthly-budget {
    text-align: center;
    margin-bottom: 0px; /* Space between Monthly Budget and Categories */
    margin-left: -800px;
}

.monthly-budget h3 {
    margin: 0;
    font-size: 20px; /* Adjust as needed */
    margin-right: 120px
}

.budget-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex; /* Center align the children horizontally */
    width: 100%; 
}
    

.budget-section h3 {
    margin-bottom: 20px; /* Space between h3 and dropdown button */
}

.budget-section .dropdown {
    margin-bottom: 20px; /* Space between dropdown button and h4 */
}

.categories-section {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #e2f7e3; /* Example button color */
    color: rgb(85, 192, 90);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners for the dropdown */
    font-size: 14px; 
    margin-top: 10px;
    margin-right: 200px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e2f7e3;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(85, 192, 90);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.categories h4 {
    text-align: center;
    width: 100%; /* Ensure full width for alignment */
    margin-top: 20px; 
    margin-left: -500px;
}

.top-right-content {
    display: flex;
    justify-content: space-between; /* This will align the children on opposite ends */
    align-items: center; /* This will vertically center align the children */
    margin-bottom: 20px; 
    position: absolute;
    right: 20px;
    top: 80px;
}


.icon {
    height: auto;
    width: 20px;
    margin: 0px 140px;
    margin-left: -200px;
margin-bottom: 60px;
}

.budget-summary {
    background-color: #fff; /* White background for the card */
    border-radius: 20px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the card */
    padding: 20px;
    display: flex; /* Use flexbox to align items in a row */
    justify-content: space-between; /* Evenly space the items within the container */
    margin-top: 1em; /* Add some space from the top */
}

.summary-item {
    text-align: center; /* Center the text inside each summary item */
    padding: 0 10px; /* Add padding to create space around each item */
    position: relative; /* Position relative to use pseudo-elements for borders */
}

.summary-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0; /* Position it on the right side */
    top: 30%; /* Center it vertically */
    transform: translateY(-50%); /* Align the border properly in the center */
    height: 40%; /* The height of the border */
    border-right: 2px solid #eaeaea; /* The border */
}


.summary-title {
    color: #888; /* Grey color for the title text */
    font-size: 0.9em; /* Smaller font size for the title */
    margin-bottom: 0.5em; /* Space between the title and the amount */
}

.summary-amount {
    display: block;
    color: #fa6868; /* Red color for the amount */
    font-size: 1.5em; /* Larger font size for the amount */
    margin: 0 20px;
}

.summary-amount-2 {
    display: block;
    color: #54c756; /* Green color for the amount */
    font-size: 1.5em; /* Larger font size for the amount */
    margin: 0 20px;

}

.summary-amount-3 {
    display: block;
    color: #040303; /* Black color for the amount */
    font-size: 1.5em; /* Larger font size for the amount */
    margin: 0 20px;

}
/* Progress bar styles */
.progress-bar-container {
    background-color: #eaeaea; /* Light grey background for the progress bar */
    border-radius: 10px; /* Rounded corners for the progress bar */
    height: 20px; 
    width: 300%; /* Full width of the parent container */
    margin: 20px 0; /* Margin around the progress bar */
}

.progress-bar {
    background-color: #4537b3; /* Color for the progress bar fill */
    height: 20px; /* Fixed height for the progress bar fill */
    border-radius: 10px; /* Rounded corners for the progress bar fill */
    width: 50%;
}

.categories {
    margin-top: 30px;
    padding: 0 20px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px; /* Space between category items */
    padding: 10px 0; /* Padding within each category item */
}

.category-details {
    display: flex;
    align-items: center;
}

.category-icon {
    width: 30px;  
    height: 30px;  
    background-size: contain; 
    background-repeat: no-repeat; 
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.category-icon-education {
    background-image: url('icons/education.png');
    width: 35px; 
    height: 35px;
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-entertainment {
    background-image: url('icons/entertain.png');
    width: 30px; 
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-food {
    background-image: url('icons/food.png'); 
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-groceries {
    background-image: url('icons/grocery.png');
    width: 30px;  
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-health {
    background-image: url('icons/health.png'); 
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-housing {
    background-image: url('icons/housing.png'); 
    width: 30px;  
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-misc {
    background-image: url('icons/misc.png');
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-office {
    background-image: url('icons/office.png');
    width: 30px;  
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-pets {
    background-image: url('icons/pets.png');
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-shopping {
    background-image: url('icons/shop.png');
    width: 30px;  
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-subscriptions {
    background-image: url('icons/subscribe.png');
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-transportation {
    background-image: url('icons/transport.png');
    width: 30px;  
    height: 30px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
        margin-right: 15px;  

}

.category-icon-travel {
    background-image: url('icons/travel.png');
    width: 35px;  
    height: 35px;  
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}

.category-icon-utils {
    background-image: url('icons/utils.png');
    width: 35px; 
    height: 35px; 
    background-size: contain;  
    background-repeat: no-repeat;  
    display: inline-block;  
    margin-right: 10px;  
}


.category-text {
    display: flex;
    flex-direction: column;
}

.category-text span:first-child {
    font-weight: bold;
}

.category-text span:last-child {
    color: #888;
}

.category-progress {
    background-color: #eaeaea;
    border-radius: 10px;
    flex-grow: 1;
    height: 10px;
    display: flex;  
    margin: 0 500px;
    margin-top: 90px;
    margin-left: 1px;
    width: 100px;
}

.education-progress {
    background-color: #6ec9dc;
    height: 10px;
    border-radius: 10px;
    margin-left: -170px;
    /* Width will be set inline to represent the progress */
}


.entertain-progress {
    background-color: #e18336;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.food-progress {
    background-color: #08096d;
    height: 10px;
    border-radius: 10px;
    margin-left: -170px;
    /* Width will be set inline to represent the progress */
}

.groceries-progress {
    background-color: #69e86b;
    height: 10px;
    border-radius: 10px;
    margin-left: -175px;
    /* Width will be set inline to represent the progress */
}

.health-progress {
    background-color: #c33cf0;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.housing-progress {
    background-color: #fb3a3a;
    height: 10px;
    border-radius: 10px;
    margin-left: -190px;
    /* Width will be set inline to represent the progress */
}

.misc-progress {
    background-color: #a87d3e;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.office-progress {
    background-color: #f099c6;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.pet-progress {
    background-color: #543515;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.shop-progress {
    background-color: #1e39b5;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.sub-progress {
    background-color: #30636d;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.transport-progress {
    background-color: #f1b32d;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.travel-progress {
    background-color: #8b689e;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}

.util-progress {
    background-color: #37a4e9;
    height: 10px;
    border-radius: 10px;
    margin-left: -160px;
    /* Width will be set inline to represent the progress */
}
.text-left,
.left {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left {
    bottom: 54%; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 40%;
    left: 60%;
}

.text-left-2,
.left-2 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-2 {
    bottom: 38.5%; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-2 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 55%;
    left: 60%;
}

.text-left-3,
.left-3 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-3 {
    bottom: 23.0%; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-3 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 70%;
    left: 60%;
}

.text-left-4,
.left-4 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-4 {
    bottom: 9.0%; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-4 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 84.5%;
    left: 60%;
}

.text-left-5,
.left-5 {
    position: absolute;
    right: 20px; 
    bottom: 0; 
    margin-right: 250px; 
}

/* This will position the 'left' text slightly above the amount */
.text-left-5 {
    top: 68.5em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-5 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 100.5%;
    left: 60%;
}

.text-left-6,
.left-6 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; 
    margin-right: 250px; 
}

/* This will position the 'left' text slightly above the amount */
.text-left-6 {
    top: 78em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-6 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 52.5em;
    left: 60%;
}

.text-left-7,
.left-7 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; 
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-7 {
    top: 88em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-7 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 59.5em;
    left: 60%;
}

.text-left-8,
.left-8 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-8 {
    top: 98em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-8 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 66.5em;
    left: 60%;
}

.text-left-9,
.left-9 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-9 {
    top: 108em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-9 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 73.5em;
    left: 60%;
}

.text-left-10,
.left-10 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-10 {
    top: 118em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-10 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 80.5em;
    left: 60%;
}

.text-left-11,
.left-11 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-11 {
    top: 128.5em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-11 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 87.5em;
    left: 60%;
}

.text-left-12,
.left-12 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-12 {
    top: 138.5em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-12 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 95em;
    left: 60%;
}

.text-left-13,
.left-13 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-13 {
    top: 148em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-13 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 102em;
    left: 60%;
}

.text-left-14,
.left-14 {
    position: absolute;
    right: 20px; /* Align to the far right */
    bottom: 0; /* Start at 50% from the top */
    margin-right: 250px; /* Ensure they are aligned to the right without extra space */
}

/* This will position the 'left' text slightly above the amount */
.text-left-14 {
    top: 158em; /* Adjust the position to move it below the amount */
    left: 60.5%;
    color: #888; /* Grey color for the 'left' text */
    font-size: 70%;
}

/* Highlight the amount in green and make it bold */
.left-14 {
    color: #54c756; /* Green color for the amount */
    font-weight: bold; /* Bold font for the amount */
    top: 109em;
    left: 60%;
}

.right-content {
    position: absolute;
    top: 100%;
    right: -2cap;
    width: 455px; 
    padding: 20px;
}

.six-month-snapshot {
    margin-top: 20px; /* Spacing from the summary items */
    background-color: #fff; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the card */
    padding: 20px;
}

#graph-container {
    width: 100%; /* Full width of the right-content */
    height: 250px; 
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.graph-legend {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 11px; /* space between items */
    padding-top: 10px;
    margin-bottom: 1px; /* space below the legend */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;

}


.legend-icon {
    width: 10px; 
    height: 10px; 
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}

/* Specific colors for each category icon */
.legend-icon.housing { background-color: #db3b3b; }
.legend-icon.utilities { background-color: #37a4e9; }
.legend-icon.legend-icon.entertainment { background-color: #e18336; }
.legend-icon.transport { background-color: #f1b32d; }
.legend-icon.food { background-color: #08096d; }
.legend-icon.other { background-color: #684db8; }

.recent-transactions-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; /* Spacing from the previous content */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recent-transactions-header h3 {
    margin: 0;
}

.see-all {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

.transaction-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.transaction-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

.transaction-details {
    flex-grow: 1;
}


.transaction-subtitle {
    color: #888;
    display: block;
}

.transaction-date {
    color: #888;

}
.transaction-amount {
    margin-right: 80px;
}

.transaction-arrow {
    width: 10px;
    height: 10px;
    margin-top: -10px;
}

.transaction-icon.food {
    background-image: url('/icons/food.png');
}

.transaction-icon.education {
    background-image: url('/icons/education.png');
}

.transaction-icon.groceries {
    background-image: url('/icons/grocery.png');
}

.transaction-icon.shopping {
    background-image: url('/icons/shop.png');
}

.bank-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bank-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bank-header h3 {
    margin: 0;
}

.bank-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.bank-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

.bank-details {
    flex-grow: 1;
}


.card-number {
    color: #888;
    display: block;
}

.balance-amount {
    color: #888;

}
.bank-balance{
    margin-right: 80px;
}

.bank-arrow {
    width: 10px;
    height: 10px;
    margin-top: -10px;
}

.bank-icon {
    background-image: url('/icons/bank.png');
}

